dist/3WorkingwithComplexModels.html
<!DOCTYPE html><html ng-app="myApp"><head><meta charset="UTF-8"><title>Working with complex models</title><link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.min.css"><script src="bower_components/angular/angular.min.js"></script><link rel="stylesheet" href="css/syles.css"><script src="js/controllers.js"></script></head><body><div class="container"><div class="row"><div class="col-md-5 col-md-offset-3"><article ng-controller="MyController"><ul class="artistList"><li ng-repeat="item in artists" class="atrist clearfix"><img ng-src="img/{{item.shortname}}_tn.jpg" alt="Photo of {{item.name}}"><h2>{{item.name}}</h2><h3>{{item.reknown}}</h3></li></ul></article></div></div></div></body></html>

app/3WorkingwithComplexModels.jade
doctype html
html(ng-app="myApp")
	head
		meta(charset="UTF-8")
		title Working with complex models
		link( rel="stylesheet", href="bower_components/bootstrap/dist/css/bootstrap.min.css")
		script( src="bower_components/angular/angular.min.js" )
		link(rel="stylesheet", href="css/syles.css")
		script( src="js/controllers.js" )
	body
		.container
			.row
				.col-md-5.col-md-offset-3
					article(ng-controller="MyController")
						ul(class="artistList")
							li(class="atrist clearfix", ng-repeat="item in artists")
								img(ng-src="img/{{item.shortname}}_tn.jpg", alt="Photo of {{item.name}}")
								h2 {{item.name}}
								h3 {{item.reknown}}
